    body{
background-color:beige;

    }
   
    h1{
        font-family: 'Courier New', Courier, monospace;
        font-size:  150px;
        color:green;
    }
   
p{
    color:blue
}
